<!DOCTYPE html>
<html>

<head>
<title>NuchaleeProfile</title>
</head>

<body>
<h1>Hello, I'm Nuchalee Schwertfager.</h1>
<h2>I'm a data scientist and a full-stack web developer.</h2>
<%= image_tag("profile.jpg") %>
<p>View my work:</p>
<a href='/web'>Web Development</a> 
<a href='/blog'>Machine Learning</a>
</body>

<h3>Contact Me:</h3>
<p>www.swiftlet.co.th</p>
<p>email: nuchalee.schwertfager@gmail.com</p>
<p>Phone Number: 088-xxx-xxxx</p>

</html>

